* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 16px;
}


header{
    height: 100vh;
    width: 100vw;
    display: flex;
    border: 1px solid red;
}
header .left{
    background-color: rgb(212, 234, 245);
    width: 50%;
}
header .right{
    width: 50%;

}
header .right{
   background-image: url('./table.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-links{
    display: flex;
list-style: none;   
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
 margin-top: 28px;

}            
.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}       
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}        
.mafia
{
    margin-top: -10rem;
    margin-left: 5rem;

}
.mafia h1{
    font-size: 4rem;
    color: black;
    margin-bottom: 3rem;
}
.mafia h3{
    margin-bottom: 3rem;
}

.mafia a{
    border:2px solid black;

    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.discover-btn{
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    background-color:black;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 20px;
   display: flex;
   margin: 2rem auto;
}
.you{
    width: 100%;
    height: auto;
    margin-top: 2%;
    padding: 3%;
    border: none;
}